.navbar {
  height: 120px;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 5px;
  z-index: 900;
}

.navbar-brand{
  font-family: 'Lobster', cursive;
  font-size: 30px;
  margin-left: 10px;
}

ul.navbar-nav {
  background-color: #969F95;
  opacity: .75;
  font-weight: bolder;
  padding-right: 5px;
}

.carousel-inner {
  margin-top: 10px;
}

.container-fluid {
background-color: #969F95;
padding: 5px;
}

.card {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #E3EAD5;
  // border: none;
}

.card-header {
  background-color: #A4CFC3;
  font-family: 'Source Sans Pro', sans-serif;
}

.list-group {
  text-align: left;
  padding-bottom: 10px;
}
